
![alt text](https://www.business.unsw.edu.au/style%20library/asb/assets/images/logo-unsw.png)
__________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________________

In [10]:
import pandas as pd
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor
#from google.colab import files
from datetime import date
import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
from datetime import timedelta
%matplotlib inline

In [11]:
from p_values import Variance_Inflation_Factor
def variance_inflation_factor(x):
    columns = x.columns
    VIF = Variance_Inflation_Factor(x)
    df_vif = pd.DataFrame({"vif": VIF})
    df_vif = df_vif.set_index(columns)
    return df_vif

In [12]:
import calendar
import re
import pandas as pd, numpy as np

In [13]:
product_mention = pd.read_excel("data_product_mention20200918.xlsx").groupby(["product_type","yymmdd"]).sum()

In [14]:
product_mention.head()

                         product_mention
product_type yymmdd
309          2016-03-02                2
             2016-03-08                2
             2016-06-20                2
             2016-07-13                2
             2016-08-29                2

In [15]:
product_mention.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 278 entries, (309, Timestamp('2016-03-02 00:00:00')) to (222789, Timestamp('2017-08-01 00:00:00'))
Data columns (total 1 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   product_mention  278 non-null    int64
dtypes: int64(1)
memory usage: 4.6 KB

In [16]:
data_color =  pd.read_excel("20200925_ivariables.xlsx").set_index("short_code").fillna(0)

In [17]:
#data_color = pd.read_excel("20200915-SMData-dummydayshourweek.xlsx").set_index("short_code").fillna(0)
#likes = pd.read_excel("ads_each_week_all_products_only_v2.xlsx").set_index("short_code")["likes"]

In [18]:
prob11=pd.read_excel("prob_oyoff20201023.xlsx").set_index("short_code")

In [19]:
prob = prob11.loc[prob11["product_type"]!=98]

In [20]:
prob.info()

<class 'pandas.core.frame.DataFrame'>
Index: 296 entries, BC5YtFIziBd.jpg to BcHcHx0HvEN.jpg
Data columns (total 10 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   product_98.png          296 non-null    int64
 1   product_3690.png        296 non-null    int64
 2   product_2158.png        296 non-null    int64
 3   product_2449.png        296 non-null    int64
 4   product_2451_pouch.png  296 non-null    int64
 5   product_309.png         296 non-null    int64
 6   product_5152.png        296 non-null    int64
 7   product_222789.pgn      296 non-null    int64
 8   max_prob                296 non-null    int64
 9   product_type            296 non-null    int64
dtypes: int64(10)
memory usage: 25.4+ KB

In [21]:
data_color["Week"]=data_color["Week"]+4
#unused_control = [x for x in data_color.columns if not(re.search("likes",x))
                  #and not(re.search('product_only',x)) 
                 # and not(re.search('product_model',x)) 
                  #and not(re.search('model_only',x))
                 #and not(re.search('taken_at_timestamp',x))]

In [22]:
#data_color = data_color.drop(columns=unused_control)

In [23]:
log_col = [x for x in data_color.columns if re.search("log",x)]
log_col

['log_likes']

In [24]:
control_var = []
for col in log_col:
    control_var.append(col[4:]) 
    data_color[col[4:]] = np.exp(data_color[col])

In [25]:
#data_max = data_color.join(prob, how="inner").loc[:,["taken_at_timestamp","product_model","product_only","likes","product_type"]]
dt_pm1 = data_color.join(prob, how="inner").loc[:,["taken_at_timestamp","product_model","product_only","likes","product_type","product_users","len_text_total"]]
#dt_pm1 = dt_pm1.fillna(value={"product_type":0})
#data_color2 = data_pm.copy()

In [26]:
#dt_pm1["total_post"] = dt_pm1["product_only"]+dt_pm1["product_model"]+dt_pm1["model_only"]

In [27]:
dt_pm1["yymmdd"]= dt_pm1["taken_at_timestamp"].apply(date.fromtimestamp)
#dt_pm1b = dt_pm1.groupby(["product_type","yymmdd"]).sum()

In [28]:
data_pm = dt_pm1.drop(columns=["taken_at_timestamp"])

In [29]:
data_pm.head()

,product_model,product_only,likes,product_type,product_users,len_text_total,yymmdd
short_code,,,,,,,
BC5YtFIziBd.jpg,0,1,21.0,2451,0,127.0,2016-03-14
BC5csd3mIC5.jpg,0,1,23.0,2451,0,203.0,2016-03-14
BDHuectAhnn.jpg,0,1,51.0,222789,0,73.0,2016-03-19
BDHvD5Rshu3.jpg,1,0,42.0,222789,0,42.0,2016-03-19
BDIt2fdiT4X.jpg,1,0,58.0,2451,0,74.0,2016-03-20

In [30]:
data_pm.loc["BYcTZ_3hBiT.jpg"]

product_model              1
product_only               0
likes                  45465
product_type            2451
product_users              0
len_text_total            40
yymmdd            2017-08-31
Name: BYcTZ_3hBiT.jpg, dtype: object

In [31]:
strat = [x for x in data_pm.columns if not(re.search ("type",x)) and re.search("product",x)]

In [32]:
#data_max.pivot(index='product_type', columns='Week', values=["likes_by_product_model","likes_by_product_only"])

In [33]:
strat = [x for x in data_pm.columns if not(re.search ("type",x)) and re.search("product",x)]

In [34]:
strat = ['product_model',
 'product_only','product_users']

In [35]:
for col in strat:
    data_pm["likes_by_"+col] = data_pm["likes"]*data_pm[col]

In [36]:
prod3channel = dt_pm1["product_type"].dropna().unique()

In [37]:
prod3channel

array([  2451, 222789,   2449,   2158,    309,   3690,   5152],
      dtype=int64)

In [38]:

ws2=pd.DataFrame(columns=["product_type","Year","Month","Date"])
ws2_idx=[]
for y in [2016,2017]:
    for m in range(1,13):
        days = calendar.monthrange(y, m)[1]
        for d in range(1,days+1):
            for x in prod3channel:
                ws2=ws2.append({"Year":str(y),"Month":str(m),"Date":str(d),"product_type":x,}, ignore_index=True)

In [39]:
ws2.shape

(5117, 4)

In [40]:
ws2.head()

  product_type  Year Month Date
0         2451  2016     1    1
1       222789  2016     1    1
2         2449  2016     1    1
3         2158  2016     1    1
4          309  2016     1    1

In [41]:
ymd = ws2["Year"].astype(str)+"-"+ws2["Month"].astype(str)+"-"+ws2["Date"].astype(str)
ws2["yymmdd"] = pd.to_datetime(ymd)
ws3 = ws2.loc[(ws2["yymmdd"]>= "2016-03-01") & (ws2["yymmdd"]<="2017-11-30")]
ws4= ws3.set_index(["product_type","yymmdd"])

In [42]:
(ws2["yymmdd"]>= "2016-03-01") & (ws2["yymmdd"]<="2017-11-30")

0       False
1       False
2       False
3       False
4       False
        ...
5112    False
5113    False
5114    False
5115    False
5116    False
Name: yymmdd, Length: 5117, dtype: bool

In [43]:
ws4.shape

(4480, 3)

In [44]:
ws4.head()

                         Year Month Date
product_type yymmdd
2451         2016-03-01  2016     3    1
222789       2016-03-01  2016     3    1
2449         2016-03-01  2016     3    1
2158         2016-03-01  2016     3    1
309          2016-03-01  2016     3    1

In [45]:
total_post = data_pm.groupby(["yymmdd"]).sum().loc[:,["product_model","product_only","product_users"]].rename(columns={"product_model":"total_product_model","product_only":"total_product_only","product_users":"total_product_users"})

In [46]:
total_post.head()

            total_product_model  total_product_only  total_product_users
yymmdd
2016-03-14                    0                   2                    0
2016-03-19                    1                   1                    0
2016-03-20                    1                   0                    0
2016-03-23                    1                   0                    0
2016-04-04                    1                   1                    0

In [47]:
dt_gb = data_pm.groupby(["product_type","yymmdd"]).sum().join(total_post).drop("likes", axis=1)

In [48]:
dt_gb.head()

                         product_model  product_only  product_users  \
product_type yymmdd
309          2016-04-21              1             0              0
             2016-07-13              0             1              0
             2016-08-29              0             1              0
             2016-09-09              0             1              0
             2016-09-13              0             1              0

                         len_text_total  likes_by_product_model  \
product_type yymmdd
309          2016-04-21            53.0                     7.0
             2016-07-13           239.0                     0.0
             2016-08-29           220.0                     0.0
             2016-09-09           259.0                     0.0
             2016-09-13           318.0                     0.0

                         likes_by_product_only  likes_by_product_users  \
product_type yymmdd
309          2016-04-21                    0.0                     0.0
             2016-07-13                  108.0                     0.0
             2016-08-29                  170.0                     0.0
             2016-09-09                  116.0                     0.0
             2016-09-13                  148.0                     0.0

                         total_product_model  total_product_only  \
product_type yymmdd
309          2016-04-21                    1                   0
             2016-07-13                    0                   1
             2016-08-29                    0                   1
             2016-09-09                    0                   1
             2016-09-13                    0                   1

                         total_product_users
product_type yymmdd
309          2016-04-21                    0
             2016-07-13                    0
             2016-08-29                    0
             2016-09-09                    0
             2016-09-13                    0

In [49]:
dt_gb.describe()

,product_model,product_only,product_users,len_text_total,likes_by_product_model,likes_by_product_only,likes_by_product_users,total_product_model,total_product_only,total_product_users
count,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000
mean,0.146739,1.369565,0.021739,355.684783,265.260870,184.364130,15.798913,0.168478,1.836957,0.021739
std,0.411833,1.408153,0.146228,529.136877,3352.331523,574.548654,201.085491,0.429622,1.654781,0.146228
min,0.000000,0.000000,0.000000,9.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,1.000000,0.000000,126.500000,0.000000,7.000000,0.000000,0.000000,1.000000,0.000000
50%,0.000000,1.000000,0.000000,218.500000,0.000000,35.500000,0.000000,0.000000,1.000000,0.000000
75%,0.000000,1.000000,0.000000,353.750000,0.000000,135.750000,0.000000,0.000000,2.000000,0.000000
max,3.000000,12.000000,1.000000,3993.000000,45465.000000,5412.000000,2726.000000,3.000000,12.000000,1.000000

In [50]:
dt1 = ws4.join(dt_gb, how="left").join(product_mention, how="left").fillna(0)

In [51]:
dt1["product_mention"] = dt1["product_mention"]/dt1["len_text_total"]

In [52]:

for col in strat:
    dt1["spillover_"+col] = dt1["total_"+col]-dt1[col]

In [53]:
dt1["total_spillover"] = dt1["spillover_"+strat[0]] + dt1["spillover_"+strat[1]] + dt1["spillover_"+strat[2]]

In [54]:
dt1.head()

,,Year,Month,Date,product_model,product_only,product_users,len_text_total,likes_by_product_model,likes_by_product_only,likes_by_product_users,total_product_model,total_product_only,total_product_users,product_mention,spillover_product_model,spillover_product_only,spillover_product_users,total_spillover
product_type,yymmdd,,,,,,,,,,,,,,,,,,
2451,2016-03-01,2016,3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
222789,2016-03-01,2016,3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
2449,2016-03-01,2016,3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
2158,2016-03-01,2016,3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0
309,2016-03-01,2016,3,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,0.0,0.0,0.0,0.0

In [55]:
dt2 = dt1.drop(columns=["total_product_model","total_product_only","total_product_users"])

In [56]:
strat

['product_model', 'product_only', 'product_users']

In [57]:
total_likes = dt2.groupby(["yymmdd"]).sum().loc[:,["likes_by_product_model","likes_by_product_only","likes_by_product_users"]].rename(columns={"likes_by_product_model":"total_likes_by_product_model","likes_by_product_only":"total_likes_by_product_only","likes_by_product_users":"total_likes_by_product_users"})

In [58]:
dt21_raw = dt2.join(total_likes).fillna(0)

In [59]:
dt21_raw.describe()

,product_model,product_only,product_users,len_text_total,likes_by_product_model,likes_by_product_only,likes_by_product_users,product_mention,spillover_product_model,spillover_product_only,spillover_product_users,total_spillover,total_likes_by_product_model,total_likes_by_product_only,total_likes_by_product_users
count,4480.000000,4480.000000,4480.000000,4480.000000,4480.000000,4480.000000,4480.000000,4480.0,4480.000000,4480.000000,4480.0,4480.000000,4480.000000,4480.000000,4480.000000
mean,0.006027,0.056250,0.000893,14.608482,10.894643,7.572098,0.648884,inf,0.000893,0.019196,0.0,0.020089,76.262500,53.004688,4.542188
std,0.088192,0.393581,0.029871,128.153011,679.655607,121.763061,40.766585,NaN,0.029871,0.215678,0.0,0.217658,1796.812728,319.898124,107.776217
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.000000
max,3.000000,12.000000,1.000000,3993.000000,45465.000000,5412.000000,2726.000000,inf,1.000000,5.000000,0.0,5.000000,45465.000000,5412.000000,2726.000000

In [60]:
dt21_raw["likes_by_product_model"].nlargest()

product_type  yymmdd
2451          2017-08-31    45465.0
              2016-08-05     1295.0
309           2017-11-17      794.0
2451          2017-06-13      188.0
              2017-04-23      176.0
Name: likes_by_product_model, dtype: float64

In [ ]:
aggrt_all = dict()
for p in prod3channel:
    dt_pp = dt21_raw.loc[p]
    for idx in dt_pp.index:
        try:
            aggrt = dt_pp.loc[pd.date_range(start=idx, periods=7)][['product_model', 'product_only','product_users',
           'likes_by_product_model', 'likes_by_product_only','likes_by_product_users',
           'spillover_product_model', 'spillover_product_only','spillover_product_users',
           'total_likes_by_product_model', 'total_likes_by_product_only','total_likes_by_product_users','total_spillover','product_mention']]
            aggrt_all[(p,idx+ timedelta(days=7))]=aggrt.sum()
        except:
            continue

In [ ]:
dt21 = pd.DataFrame(aggrt_all).T

In [ ]:
dt21.shape

In [ ]:
#check dataframe
dt21.describe()

In [ ]:
sp = dict()
for col in strat:
    dt21["likes_by_spillover_"+col] = dt21["total_likes_by_"+col] - dt21["likes_by_"+col]

In [ ]:
dt21["total_likes_by_spillover"] = dt21["likes_by_spillover_"+strat[0]] + dt21["likes_by_spillover_"+strat[1]] + dt21["likes_by_spillover_"+strat[2]]

In [ ]:
dt21.columns

In [ ]:
dt21.describe()

In [ ]:
#data= data_pm.rename(columns={"likes":"total_likes_by_product"}).groupby(["product_type","Week"]).sum().join(total_post)

In [ ]:
dt3 = dt21#.groupby(["product_type","Week"]).sum()

In [ ]:
strat = [x for x in dt3.columns if not(re.search ("type",x)) and re.search("product",x) and not(re.search("likes",x))]
strat

In [ ]:
for col in strat:
    if col=="product_mention":
        continue
        #dt3["avg_product_mention"] = dt3[col]/dt3["total_post"]
    else:
        dt3["avg_likes_"+col] = dt3["likes_by_"+col]/dt3[col]

In [ ]:
dt3["avg_likes_product_model"].nlargest(n=10)

In [ ]:
dt3["avg_likes_total_spillover"] = dt3["total_likes_by_spillover"]/dt3["total_spillover"]
dt3 = dt3.replace([np.inf, -np.inf], np.nan).fillna(0)

In [ ]:
dt3.index.names = ["product_type","yymmdd"]
#dt3.head()

In [ ]:
#max_likes = pd.read_excel("max_likes_daily_v1.xlsx").set_index(["product_type", "yymmdd"])

In [ ]:
#["max_likes_spillover"] =  np.where(max_likes["max_likes_by_product_model_spillover"] >= max_likes["max_likes_by_product_only_spillover"], max_likes["max_likes_by_product_model_spillover"],max_likes["max_likes_by_product_only_spillover"])

In [ ]:
#max_likes.columns

In [ ]:
#new_max = max_likes.loc[:,['max_likes_by_product_model', 'max_likes_by_product_only', 'max_likes_spillover']]

In [ ]:
#dt4 = dt3.join(new_max)
dt4 = dt3

In [ ]:
dt4.shape

In [ ]:
#dr=dt4.reset_index().rename(columns={"product_type":"pd_code","avg_product_mention":"avg_numProduct_mention"})
dr=dt4.reset_index().rename(columns={"product_type":"pd_code","product_mention":"numProduct_mention"})

In [ ]:
#dr_final = dr.loc[dr["pd_code"]!=0]

In [ ]:
dr.shape

In [ ]:
dr.columns

In [ ]:
dr.to_excel("3channel_wsm_ps_20201023.xlsx",index=False)

In [ ]:
dr["avg_likes_product_model"].nlargest(n=10)