In [16]:
import pandas as pd
import statsmodels.api as sm

import matplotlib.pyplot as plt
import seaborn as sns; sns.set()
import datetime
import calendar
import re
import numpy as np
%matplotlib inline

In [17]:
#USE #oyof_sales_ads_daily_without_productspesificpromotion_v2 for oyof
#USE #mobilepc_sales_ads_daily_without_productspesificpromotion_v2 for oyof
data= pd.read_excel("oyof_sales_ads_daily_without_productspesificpromotion_20210111-tv.xlsx").fillna(0)

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5697 entries, 0 to 5696
Data columns (total 48 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   numProduct_mention                     5697 non-null   float64
 1   oy_sample                              5697 non-null   int64
 2   oy_display_product                     5697 non-null   int64
 3   avg_numBrand                           5697 non-null   float64
 4   avg_numModel                           5697 non-null   float64
 5   avg_numOYBrand                         5697 non-null   float64
 6   avg_numPos-Neg                         5697 non-null   float64
 7   avg_Colorfulness_Picture               5697 non-null   float64
 8   avg_Saturation_Picture                 5697 non-null   float64
 9   avg_Clarity_Picture                    5697 non-null   float64
 10  avg_Brightness_Picture                 5697 non-null   float64
 11  avg_Warm Hue_Picture                   5697 non-null   float64
 12  avg_ROT_Picture                        5697 non-null   float64
 13  avg_Diagonal_dominance_Picture         5697 non-null   float64
 14  avg_Physical_ver_Picture               5697 non-null   float64
 15  avg_Physical_Hor_Picture               5697 non-null   float64
 16  avg_Color_balance_vertical_Picture     5697 non-null   float64
 17  avg_Color_balance_horizontal_Picture   5697 non-null   float64
 18  avg_Texture_difference_Picture         5697 non-null   float64
 19  avg_Size_difference_Picture            5697 non-null   float64
 20  avg_Color_difference_Picture           5697 non-null   float64
 21  avg_Depth of field_hue_Picture         5697 non-null   float64
 22  avg_Depth of field_saturation_Picture  5697 non-null   float64
 23  avg_Depth of field_value_Picture       5697 non-null   float64
 24  avg_Contrast_Picture_z                 5697 non-null   float64
 25  avg_Contrast_Picture^2                 5697 non-null   float64
 26  avg_len_text_total                     5697 non-null   float64
 27  avg_tag_numb                           5697 non-null   float64
 28  avg_happiness                          5697 non-null   float64
 29  avg_faces                              5697 non-null   float64
 30  avg_image_size_kilobytes               5697 non-null   float64
 31  avg_likes_by_model_only                5697 non-null   float64
 32  avg_likes_product_model                5697 non-null   float64
 33  avg_likes_product_only                 5697 non-null   float64
 34  avg_likes_total_spillover              5697 non-null   float64
 35  dummy_Week                             5697 non-null   float64
 36  dummy_Days                             5697 non-null   object
 37  posting_mo                             5697 non-null   int64
 38  total_posting_this_day                 5697 non-null   int64
 39  posting_pm                             5697 non-null   int64
 40  posting_po                             5697 non-null   int64
 41  posting_spillover                      5697 non-null   int64
 42  yymmdd                                 5697 non-null   datetime64[ns]
 43  sales_qt                               5697 non-null   int64
 44  sales_yesterday                        5697 non-null   int64
 45  ori_pdcode                             5697 non-null   int64
 46  price_dc                               5697 non-null   float64
 47  DHC_Product_Promo                      5697 non-null   int64
dtypes: datetime64[ns](1), float64(35), int64(11), object(1)
memory usage: 2.1+ MB

In [18]:
data["ori_pdcode"].value_counts()

300      633
2449     633
22150    633
22278    633
9189     633
2451     633
22152    633
2158     633
9199     633
Name: ori_pdcode, dtype: int64

In [19]:
data["ori_pdcode"].value_counts()

300      633
2449     633
22150    633
22278    633
9189     633
2451     633
22152    633
2158     633
9199     633
Name: ori_pdcode, dtype: int64

In [20]:
data["posting_po"].max()

37

In [21]:
data["avg_likes_product_only"].max()

692.5714285714283

In [22]:
data["avg_likes_product_model"].max()

45464.99999999985

In [23]:
data["ori_pdcode"].value_counts()

300      633
2449     633
22150    633
22278    633
9189     633
2451     633
22152    633
2158     633
9199     633
Name: ori_pdcode, dtype: int64

In [33]:
period = pd.read_excel("dhc_promotion_v2_analysis.xlsx").set_index(["Starting","Ending"]).dropna()

In [34]:
period.head(n=3)

,,300,9199,2451,2449,2158,22278,3690,22150,22152
Starting,Ending,,,,,,,,,
2016-04-01,2016-04-30,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2016-05-02,2016-05-31,0.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0,0.0
2016-05-03,2016-05-03,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [35]:
period.index

MultiIndex([('2016-04-01', '2016-04-30'),
            ('2016-05-02', '2016-05-31'),
            ('2016-05-03', '2016-05-03'),
            ('2016-05-31', '2016-05-31'),
            ('2016-05-16', '2016-05-27'),
            ('2016-06-01', '2016-06-30'),
            ('2016-06-20', '2016-06-24'),
            ('2016-06-03', '2016-06-03'),
            ('2016-07-01', '2016-07-31'),
            ('2016-07-04', '2016-07-08'),
            ('2016-08-01', '2016-08-31'),
            ('2016-08-22', '2016-08-22'),
            ('2016-10-01', '2016-10-31'),
            ('2016-11-07', '2016-11-11'),
            ('2016-12-01', '2016-12-31'),
            ('2016-12-01', '2016-12-10'),
            ('2017-01-01', '2017-01-31'),
            ('2017-02-22', '2017-02-28'),
            ('2017-03-01', '2017-03-31'),
            ('2017-04-01', '2017-04-30'),
            ('2017-04-05', '2017-04-09'),
            ('2017-05-01', '2017-05-31'),
            ('2017-05-22', '2017-05-31'),
            ('2017-06-01', '2017-06-30'),
            ('2017-07-05', '2017-07-09'),
            ('2017-08-01', '2017-08-31'),
            ('2017-09-01', '2017-09-30'),
            ('2017-10-01', '2017-10-09'),
            ('2017-11-01', '2017-11-30'),
            ('2017-11-05', '2017-11-09')],
           names=['Starting', 'Ending'])

In [36]:
pd_code=period.columns

In [37]:
data["DHC_Product_Promo"] = 0

# check if the pd_code has  a promo

In [38]:
promo_time = pd.date_range(start='2017-11-05',end='2017-11-09')
for code in pd_code:
    has_promo = period.loc[('2017-11-05','2017-11-09')][code]
    print(has_promo)

1.0
1.0
0.0
0.0
0.0
0.0
0.0
0.0
0.0

In [39]:
for idx,idy in period.index:
    promo_time = pd.date_range(start=idx,end=idy)
    for code in pd_code:
        has_promo = period.loc[(idx,idy)][code]
        if has_promo:
            data.loc[(data["yymmdd"].isin(promo_time)) & (data["ori_pdcode"]==code), "DHC_Product_Promo"]=1
        else:
            continue

In [40]:
for col in  ["dummy_Week","dummy_Days", "ori_pdcode"]:
    data[col] = data[col].astype(str)

In [41]:
#for dt in tes:
    ##data.loc[(data["yymmdd"]==dt) & (data["ori_pdcode_300"]==1), "DHC_Product_Promo"]=1

In [42]:
data_ready=pd.get_dummies(data, drop_first=True)

In [43]:
data_ready.info(max_cols=145)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5697 entries, 0 to 5696
Columns: 149 entries, numProduct_mention to ori_pdcode_9199
dtypes: datetime64[ns](1), float64(34), int64(10), uint8(104)
memory usage: 2.5 MB

In [44]:
data_ready["DHC_Product_Promo"].max()

1

In [45]:
data_ready.to_excel("oyof_sales_ads_daily_20210111-tv.xlsx", index=False)

In [46]:
data_ready["avg_likes_product_model"].nlargest()

4340    45465.0
4341    45465.0
4342    45465.0
4343    45465.0
4344    45465.0
Name: avg_likes_product_model, dtype: float64